.fixed-right {
  position: fixed;
  right: 20px;
  top: 55px;
  z-index: 6;
}

.overlay-notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(80, 78, 78, 0.219);
}
