body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
