<div class="container my-3">
  <div class="row">
    <form class="col-sm-12 col-md-6">

      <div class="form-group">
        <label for="exampleInputEmail1">Notification</label>
        <input #notification type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter notification message">
      </div>

      <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit(notification.value)">
        Submit
      </button>
    </form>
  </div>
</div>
